@import "../../../styles//settings.scss";
@import "../../../styles//animations.scss";

.container {
  border: $border-width solid $newReleaseInfo-border-color;
  padding: 15px;
  text-align: center;
}

.title {
  text-transform: uppercase;
}

.time {
  font-size: 38px;
  margin: 15px 0;
}

.fadeIn {
  animation: fadeIn $animationTime-vlong ease-in;
}

.fadeOut {
  animation: fadeOut $animationTime-vlong ease-in;
}

.newReleaseImg {
  object-fit: cover;
  border-radius: 20px;
  width: 100%;
  height: $game-image-height;
}
