@import "../../../styles/settings.scss";

.container {
  max-width: $container-max-width;
  margin: auto;
}

.splash {
  margin-top: 50px;
  height: 300px;
  position: relative;
  border: 1px solid $splash-border-color;
  border-left: 0;
  border-right: 0;

  &::after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $splash-after-bg-color;
    z-index: 1;
    opacity: 0.85;
  }
}

.title {
  position: absolute;
  z-index: 2;
  font-family: $title-font-family;
  font-size: $title-font-size;
  margin: 0;
  top: 50%;
  transform: translateY(-50%);
  margin-left: 20px;
}

.image {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

@media (max-width: 411px) {
  .title {
    font-size: 32px;
  }
}

@media (max-width: 280px) {
  .title {
    font-size: 25px;
    margin-left: 10px;
  }
}
