@import "../../../styles/settings.scss";

.shoppingCart {
  margin: 45px 25px 0 0;
}

.icon {
  font-size: 35px;
}

.counter {
  display: inline-block;
  margin-left: 5px;
  padding: 5px;
  border: 2px solid $shoppingCart-border-color;
  border-radius: 50px;
}

@media (max-width: 350px) {
  .shoppingCart {
    margin-right: 0;
  }
}
