@import "../../../styles/settings.scss";

button {
  background-color: $button-bg-color;
  font-family: $text-font-family;
  font-size: 1.4em;
  font-weight: $text-font-weight;
}

.button {
  display: inline-block;
  text-decoration: none;
  color: $button-text-color;
  border: $border-width solid $button-border-color;
  padding: 18px;
  transition: $shortTransition;
  text-transform: uppercase;
  user-select: none;
  text-align: center;

  &:hover {
    cursor: pointer;
    background-color: $button-hover-bg-color;
    color: $button-hover-text-color;
  }

  &.icon {
    border: none;
    color: $button-icon-color;
    padding: 0;

    &:hover {
      background-color: transparent;
      color: $button-icon-hover-color;
    }
  }
}
