@import "../../../styles/settings.scss";
@import "../../../styles/animations.scss";

.container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 350px;
  z-index: 200;
}

.checkIcon, .exIcon {
  font-size: 48px;
  margin: 15px;
  transform: translateY(20%);
}

.checkIcon {
  color: $promptInfo-checkIcon-color;
}

.exIcon {
  color: $promptInfo-exIcon-color;
}

.info {
  display: inline-block;
  text-transform: uppercase;
  transform: translateY(-50%);
  font-size: 25px;
}

.prompt {
  background-color: $promptInfo-bg-color;
  animation: fadeIn $animationTime-long;
}

@media (max-width: 450px) {
  .checkIcon, .exIcon {
    font-size: 35px;
    margin: 7px;
  }

  .info {
    font-size: 15px;
  }
}

@media (max-width: 280px) {
  .checkIcon, .exIcon {
    font-size: 20px;
  }

  .info {
    font-size: 10px;
  }
}
