@import "../../../styles/settings.scss";

.container {
  max-width: $container-max-width;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.logo {
  font-size: $logo-font-size;
}

.searchIcon {
  font-size: $icon-font-size;
  margin-right: 10px;
}

.navigation {
  list-style-type: none;
  padding: 0;
  margin-top: 35px;

  li {
    display: inline-block;

    a {
      text-decoration: none;
      margin: 0 20px;
      color: $topBar-text-color;
      transition: $shortTransition;
      vertical-align: middle;

      &:hover {
        color: $topBar-hover-link-text-color;
      }
    }
  }
}

.searchText {
  display: inline-block;
  padding: 0;
  transition: $shortTransition;
  margin: 0;

  &.disable {
    transform: scale(0);
  }
}

.serachInput {
  padding: 10px;
  border-radius: 50px;
  font-family: $text-font-family;
  font-size: 18px;
  width: 0;
  opacity: 0;
  transition: $shortTransition;

  &:focus {
    outline: none;
  }

  &.active {
    opacity: 1;
    width: 250px;
  }
}

@media (max-width: 540px) {
  .serachInput {
    &.active {
      width: 210px;
    }
  }

  .searchText {
    &.disable {
      display: none;
    }
  }
}

@media (max-width: 450px) {
  .container {
    justify-content: center;
  }

  nav {
    flex: 100%;
  }

  .navigation {
    text-align: center;
    li {
      width: 100%;

      &:last-child {
        margin-top: 25px;
      }
    }
  }

  .serachInput {
    &.active {
      width: 185px;
    }
  }

  .searchText {
    &.disable {
      display: none;
    }
  }
}
