@import "../../../styles/settings.scss";

.container {
  margin-bottom: 25px;
  margin-right: 20px;

  &:nth-child(3n) {
    margin-right: 0;
  }

  a {
    text-decoration: none;
    color: $game-link-color;
  }
}

.title, .price {
  margin-left: 10px;
  transition: $shortTransition;
}

.title {
  font-family: $title-font-family;
  text-transform: uppercase;
}

.highlight {
  font-size: 22px;
}

.game {
  border: $border-width solid $game-border-color;
  transition: $shortTransition;

  img {
    width: $game-image-width;
    height: $game-image-height;
    object-fit: cover;
    transition: $shortTransition;
  }

  &:hover {
    cursor: pointer;
    border-width: 2px;
    transform: translate(3%, -1%);
    box-shadow:-1px 1px  $game-boxshadow-hover-color, -2px 2px  $game-boxshadow-hover-color, -3px 3px  $game-boxshadow-hover-color, -4px 4px  $game-boxshadow-hover-color, -5px 5px  $game-boxshadow-hover-color, -6px 6px  $game-boxshadow-hover-color, -7px 7px  $game-boxshadow-hover-color, -8px 8px  $game-boxshadow-hover-color;

    img {
      opacity: 0.3;
    }

    // .title {
    //   font-size: 28px;
    // }

    // .price {
    //   font-size: 22px;
    // }
  }
}

@media (max-width: 975px) {
  .container {
    margin-right: 0;
  }
}

@media (max-width: 415px) {
  .game {
    img {
      width: $game-image-width-mediaQ;
      height: $game-image-height-mediaQ;
    }
  }
}
