@import "./settings.scss";
@import "./animations.scss";

*, :after, :before {
  box-sizing: inherit;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: $text-font-family;
  font-weight: $text-font-weight;
  margin: 0;
  background-color: $bg-color;
  color: $text-color;
}

.switchWrapper {
  position: relative;

  > :first-child ~ * {
      position: absolute;
      left: 0;
      width: 100%;
      animation: slide $animationTime-long;
  }
}
