@import url('https://fonts.googleapis.com/css2?family=Turret+Road:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');

/* settings */
$container-max-width: 1280px;

$text-font-family: 'Turret Road', cursive;
$text-font-weight: 700;

$title-font-family: 'Staatliches', cursive;
$title-font-size: 54px;

$transition: 1s All;

$logo-font-size: 45px;

$border-width: 1px;

/* colors */
$white: #ffffff;
$grey: #808080;
$black: #000000;

/* colors settings */
// BODY
$bg-color: $black;
$text-color: $white;

// TOP BAR
$topBar-text-color: $grey;
$topBar-hover-link-text-color: $white;

// SPLASH
$splash-after-bg-color: $black;
$splash-border-color: $white;

// OPTION
$option-border-color: $white;
$option-input-bg-color: $black;
$option-input-border-color: $grey;
$option-checked-border-color: $white;
