@import "../../../styles/settings.scss";

.checkboxes {

  label {
    display: block;
    padding: 7px;
    font-size: 19px;

    &:hover {
      cursor: pointer;
      border: $border-width solid $option-border-color;
    }
  }

  input {
    margin-right: 25px;
    outline: none;
    position: relative;

    &::before {
      content: "";
      display: block;
      position: absolute;
      width: 17px;
      height: 17px;
      top: 0;
      left: 0;
      border: $border-width solid $option-input-border-color;
      border-radius: 3px;
      background-color: $option-input-bg-color;
    }

    &:checked::after {
      content: "";
      display: block;
      width: 5px;
      height: 10px;
      border: solid $option-checked-border-color;
      border-width: 0 2px 2px 0;
      transform: rotate(45deg);
      position: absolute;
      top: 2px;
      left: 6px;
    }

    &:hover {
      cursor: pointer;
    }
  }
}

.option {
  padding: 0 20px 20px 20px;
  border: $border-width solid $option-border-color;
}

.flexBox {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.arrow {
  font-size: 20px;

  &:hover {
    cursor: pointer;
  }
}
