@import "../../../styles/settings.scss";

.flexBox {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.img {
  width: 150px;
  height: 150px;
  transition: $shortTransition;
  object-fit: fill;

  &:hover {
    cursor: pointer;
    transform: translate(5%, -2%);
    box-shadow:-1px 1px  $game-boxshadow-hover-color, -2px 2px  $game-boxshadow-hover-color, -3px 3px  $game-boxshadow-hover-color, -4px 4px  $game-boxshadow-hover-color, -5px 5px  $game-boxshadow-hover-color, -6px 6px  $game-boxshadow-hover-color, -7px 7px  $game-boxshadow-hover-color, -8px 8px  $game-boxshadow-hover-color;
  }

  &.active {
    transform: scale(1.2);
    border: $border-width solid $photoCarousel-hover-border-color;

    &:hover {
      box-shadow: none;
    }
  }
}
