@import "../../../styles/settings.scss";
@import "../../../styles/animations.scss";

.container {
  max-width: $container-max-width;
  margin: 95px auto 0 auto;
  padding: 0 15px;
  display: flex;
  flex-wrap: wrap;
}

.options {
  flex: 15%;
  margin-right: 50px;
}

.games {
  flex: 75%;

  .title {
    margin-left: 25px;
  }
}

.flexBox {
  display: flex;
  flex-wrap: wrap;

  div {
    animation: fadeIn $animationTime;
  }
}

.dots {
  flex: 100%;
  list-style: none;
  padding: 0;
  text-align: center;

  li {
    display: inline-block;
    margin-right: 10px;

    &:last-child {
      margin-right: 0;
    }
  }

  .dotIcon {
    &.active {
      color: $games-dot-active-color;
    }
  }
}

@media (max-width: 1200px) {
  .flexBox {
    justify-content: space-around;
  }
}

@media (max-width: 1050px) {
  .options {
    flex: 100%;
    margin-right: 0;
  }
}

@media (max-width: 290px) {
  .container {
    padding: 0;
  }
}
