@import "../../../styles/settings.scss";

.container {
  max-width: $container-max-width;
  margin: 95px auto 0 auto;
  padding: 0 30px;
  display: flex;
  flex-wrap: wrap;
}

.options {
  flex: 15%;
  margin-right: 120px;
}

.games {
  flex: 75%;
}
